body {
  font-family: 'Spectral';
  font-size: 20px;
  text-align: center;
}

#bot1 img {
  height: 610px;
  width: 600px;
}

.outside {
  background-image: url("http://w4.wallls.com/uploads/original/201711/26/wallls.com_172045.jpg");
  color: #ff0000;
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}

 #bot2 img {
  display: none;
  height: 300px;
  width: 300px;
}

.invisiclass {
  display: none;
  margin-top: 800px;
  margin-left: 150px;
}

.explosion {
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--LfgY--2a--/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/vp3g5nckbrnjdrf2ypq3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

.asylum {
  background-image: url("");
}
